<table mdbTable class="z-depth-1 table-color" hover="true">
  <thead>
  <tr>
    <th *ngFor="let head of headElements; let i = index" scope="col">{{head}}
      <a *ngIf="isSortable(head)">
      <span *ngIf="isActual(i) | async; else sort">
      <mdb-icon
        [icon]="'sort-'+(typeElements[i]==='string' ? 'alpha' : 'numeric') +'-'+((sortDir$ | async) ? 'asc' : 'desc')"
        (click)="changeSortDir()"></mdb-icon>
      </span>
        <ng-template #sort>
          <mdb-icon icon="sort" (click)="changeSortBy(i)"></mdb-icon>
        </ng-template>
      </a>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let el of elements$| async; let i=index" [routerLink]="[route+el[urlId]]">
    <td *ngFor="let col of displayedElements">{{el[col]}}</td>
  </tr>
  </tbody>
</table>
